APP_URL="<your-app-url"

PORT="<your-port>"

SECRET="<secret-key>"

MONGODB_URL="mongodb://localhost:27017/<db_name>"

CLOUDINARY_CLOUD_NAME="<your-cloud-name>"

CLOUDINARY_API_KEY="<your-api-key>"

CLOUDINARY_API_SECRET="<your-api-secret>"

KHALTI_API_URL="https://dev.khalti.com/api/v2/epayment/initiate/	"

KHALTI_SECRET_KEY="<your-live-secret-key>"

KHALTI_RETURN_URL="<your-return-url>"

RESEND_EMAIL_API_KEY="<your-resend-api-key>"

GEMINI_API_KEY="<your-gemini-api-key>"