<html>
  <head>
    <title>Template Engine Using Handlebars</title>
    <style>
      p {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Home Page Using HandleBars</h1>
    <p>Welcome {{userName}}</p>
  </body>
</html>